<#include "../common/_header.htm">
<div id="messageForm" style="height:100%;width:100%;overflow:auto;padding:0px 20px 40px 20px;" v-cloak>
   	<el-form ref="form" :model="form" :rules="formrules" :label-position="labelPosition" >
        <el-form-item label="策略名称：" prop="title">
        	<el-input type="text" v-model="form.title" placeholder="策略名称" maxlength="200"></el-input>
        </el-form-item>
        <el-form-item label="选择线路：">
           <el-select v-model="form.accountId" clearable placeholder="请选择">
			    <el-option
			      v-for="item in accountList"
			      :key="item.id"
			      :label="item.label"
			      :value="item.id">
			    </el-option>
	       </el-select>
        </el-form-item>
        <el-form-item label="关键词列表：">
        	<el-input type="textarea" v-model="form.keyword" placeholder="关键词一行一个不要出现有特殊符号的关键词" :rows="5"></el-input>
        	<div class="blue inputtips">正则表达式模式:</div>
        	<div class="blue inputtips">例:\d{6}:拦截内容包含连续6位数字;[A-Za-z]{10}:拦截内容包含连续10位字母</div>
        	<div class="red inputtips">注:表示此内容按正则表达式匹配:正则表达式匹配时间较长,若非特殊情况,不建议使用</div>
        	<div class="blue inputtips">若不清楚具体怎么配置,可联系工作人员!</div>
        </el-form-item>
        <el-form-item label="号段拦截：">
        	<el-input type="textarea" v-model="form.phones" placeholder="号段一行一个" :rows="5"></el-input>
        	<div class="blue inputtips">输入号码前几位,不能大于11位</div>
        </el-form-item>
        <el-form-item label="地区号段拦截：">
        	<el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
		    <el-checkbox-group v-model="checkedCities" @change="handleCheckedCitiesChange">
		      <el-checkbox v-for="city in cities" :label="city" :key="city">{{city}}</el-checkbox>
		    </el-checkbox-group>
        </el-form-item>
    </el-form>
    <div class="qxcenter">
        <el-button type="primary" @click="onSubmit">确定</el-button>
        <el-button type="info" @click="onCancel">取消</el-button>
    </div>
</div>
<script>
var dialog = top.dialog.get(window);
var dialogData = dialog.data; // 获取对话框传递过来的数据
const cityOptions=['天津','内蒙古','西藏','湖南','广东','重庆','黑龙江','陕西','青海','重庆市','福建','吉林','北京','山西','宁夏','海南','江苏','新疆','湖北','贵州','四川','广东-深圳','广西','辽宁','江西','河南','浙江-丽水','山东','河北','云南','浙江','安徽','上海','甘肃'];
    var messageForm=new Vue({
        el:"#messageForm",
        data:{
            labelPosition: 'right',
            form:{
            	accountId:'',
            	title:'',
            	keyword:'',
            	phones:''
            },
            checkAll: false,
            checkedCities: [],
            accountList:[],
            cities:cityOptions,
            isIndeterminate: true,
            formrules:{
            	title:[{required:true,message:"策略名称不能为空",trigger:"blur"}]
            }
        },
        created:function() {
        	let that = this;
        	this.accountList=${accountList!};
        	if(dialogData.id!="0"){
	        	$.ajax({
					url:"${ctx}/phoneFilter/findById",
					type:"post",
					dataType:"json",
					async:false,
					data:{id:dialogData.id},
					success:function({result,data}){
						if(result=="success"){
							that.form.id = data.id;
							that.form.title = data.title;
							that.form.keyword = data.keyword;
							that.form.phones = data.phones;
							that.form.accountId = data.accountId;
							if(data.areas) that.checkedCities=data.areas.split(",");
						}else{
							toastr.error("加载失败！");
						}
					}
				});
        	}
        },
        methods:{
        	handleCheckAllChange(val) {
                this.checkedCities = val ? cityOptions : [];
                this.isIndeterminate = false;
              },
              handleCheckedCitiesChange(value) {
                let checkedCount = value.length;
                this.checkAll = checkedCount === this.cities.length;
                this.isIndeterminate = checkedCount > 0 && checkedCount < this.cities.length;
              },
            onSubmit(){
            	this.$refs['form'].validate((valid) => {
                     if (valid) {
                    	 	let param = JSON.parse(JSON.stringify(this.form));
                    	 	param.areas = this.checkedCities.join(",");
                      		$.ajax({
	         					url:"${ctx}/phoneFilter/saveOrUpdate",
	         					type:"post",
	         					dataType:"json",
	         					async:false,
	         					data:param,
	         					success:function({result,data}){
	         						if(result=="success"){
	         			            	top.dialog({id:"phoneFilterFormDialog"}).data.submit=1;
	         			                dialog.close().remove();
	         						}else{
	         							toastr.error(data);
	         						}
	         					}
	         				});
                     }
            	});
            },
            onCancel(){
            	dialog.close().remove();
            }
        }
    });
</script>
<style>
	.el-checkbox-group{width:700px;}
	.el-form-item{width:900px;}
</style>
