<#include "../common/_header.htm">
<div id="messageForm" style="height:100%;width:100%;overflow:auto;padding:0px 20px 20px 20px;" v-cloak>
   	<el-form ref="form" :model="form" :rules="formrules" :label-position="labelPosition" >
   	  	<el-form-item label="当前余额(元)：">
   	  		<span class="blue inputtips">{{form.money}} + {{form.newMoney}} = {{form.money+form.newMoney}}</span>
   	  	</el-form-item>
        <el-form-item label="充值金额(元)：" prop="newMoney">
        	  <el-input-number v-model="form.newMoney" :precision="2" :step="10" :min="-99999999" :max="99999999" style="width:300px;"></el-input-number>
        </el-form-item>
    </el-form>
    <div class="qxcenter">
        <el-button type="primary" @click="onSubmit">确定</el-button>
        <el-button type="info" @click="onCancel">取消</el-button>
    </div>
</div>
<script>
var dialog = top.dialog.get(window);
var dialogData = dialog.data; // 获取对话框传递过来的数据
    var messageForm=new Vue({
        el:"#messageForm",
        data:{
            labelPosition: 'right',
            form:{
            	money:'',
            	newMoney:''
            },
            formrules:{
            	newMoney:[{required:true,message:"充值金额不能为空",trigger:"blur"}]
            }
        },
        created:function() {
        	let that = this;
        	if(dialogData.id!="0"){
	        	$.ajax({
					url:"${ctx}wallet/findById",
					type:"post",
					dataType:"json",
					async:false,
					data:{id:dialogData.id},
					success:function({result,data}){
						if(result=="success"){
							that.form.money = data.money;
						}else{
							toastr.error("加载失败！");
						}
					}
				});
        	}
        },
        methods:{
        	onSubmit(){
            	this.$refs['form'].validate((valid) => {
                     if (valid) {
                    	 	let param = {
                    	 			money:this.form.newMoney,
                    	 			id:dialogData.id
                    	 	};
                      		$.ajax({
	         					url:"${ctx}/wallet/payMoney2",
	         					type:"post",
	         					dataType:"json",
	         					async:false,
	         					data:param,
	         					success:function({result,data}){
	         						if(result=="success"){
	         			            	top.dialog({id:"payDialog"}).data.submit=1;
	         			                dialog.close().remove();
	         						}else{
	         							toastr.error(data);
	         						}
	         					}
	         				});
                     }
            	});
            },
            onCancel(){
            	dialog.close().remove();
            }
        }
    });
</script>
