<#include "../common/_header.htm">
<body  onload="sms.init();">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
                <h5>线路统计</h5>
                <div class="ibox-tools"></div>
            </div>
			<div class="ibox-content">
				<div class="form-group">
					<div class="form-inline">
						<div class="form-group">
							<label class="control-label">账号：</label>
							<select id="account" class="form-control" style="width: 160px;">
								<option value="all" selected="selected">全部</option>
								<#list accountInfoList as option>
									<option value="${option.id}">${option.title}(${option.account})</option>
								</#list>
							</select>
							<label class="control-label">时间范围：</label>
							<div class="input-group">
								<div class="input-icon-group">
									<input type="text" class="form-control fc-clear form_datetime" id="beginTime" placeholder="" /> <span id="scan" class="glyphicon glyphicon-calendar"> </span>
								</div>
							</div>
							<span>至</span>
							<div class="input-group">
								<div class="input-icon-group">
									<input type="text" class="form-control fc-clear form_datetime" id="endTime" placeholder="" /> <span id="scan" class="glyphicon glyphicon-calendar"> </span>
								</div>
							</div>
						</div>
						<span class="btnCon">
							<button type="button" class="btn btn-primary btn-sm" onclick="sms.query();">查询</button>
						</span>
					</div>
				</div>
				<div class="example">
					<table id="table"></table>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	$(".form_datetime").datepicker({
	    format: "yyyy-mm-dd",
	    autoclose: true,
	    language:'zh-CN',
	    pickerPosition:"bottom-left"
	});
	var sms = {
		init:function(){
		    let height = jQuery(window).height()-185;
			$('#table').bootstrapTable({
			     url:"${ctx}/sms/getSmsAccountList",//请求数据url
			     queryParams: function (params) {
			    	 let account = $.trim($("#account").val());
			         return {
			        	 pageNumber: (params.offset / params.limit),  //页码
			        	 pageSize: params.limit,  //页面大小
			        	 beginTime:$("#beginTime").val(),
			        	 endTime:$("#endTime").val(),
			        	 account:account
			         };
			     },
			     // striped: true,                      //是否显示行间隔色
			     showHeader : true,
			     height:height,
			     pagination: true,                   //是否显示分页（*）
			     sidePagination : 'server',//服务器端分页
			     strictSearch: true,
			     pageNumber : 1,
			     resizable:true,
			     //showColumns:true,
			     pageSize: 20,                       //每页的记录行数（*）
			     pageList: [20,100],//分页步进值
			     //表格的列
			     columns: [
			         {
			             title: '序号',//标题
			             halign: 'center',
			             align: 'center',
			             width:'50px',
			             formatter: function (value, row, index) {
 							return index+1;
 						 }
			         },
			         {field: 'day', halign: 'center', align: 'center',title: '日期'},
			         {field: 'totalCount', halign: 'center',align: 'center',title: '发送数量'},
			         {field: 'successCount', halign: 'center',align: 'center',title: '成功条数'},
			         {field: 'failCount', halign: 'center',align: 'center',title: '失败条数'},
			         {field: 'sendingCount', halign: 'center',align: 'center',title: '发送中'},
			         {field: 'unknowCount', halign: 'center',align: 'center',title: '未知条数'},
			     ],
			     onLoadSuccess: function () {
			    	 setFixedTableBorder($('#table'),$("div.fixed-table-border"));
			     }
			 });
		},
		query: function () {
			$("#table").bootstrapTable('refresh',{
				 pageNumber : 1
			 });
		}
	}
</script>
</body>
</html>