<#include "../common/_header.htm">
<body onload="notify.init();">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
                <h5>系统消息</h5>
                <div class="ibox-tools"></div>
            </div>
			<div class="ibox-content">
				<div class="form-group">
					<div class="form-inline">
						<label class="control-label">关键字：</label>
						<input type="text" placeholder="标题" class="form-control fc-clear" style="width: 300px;" id="keyword">
						<span class="btnCon">
							<button type="button" class="btn btn-primary btn-sm" onclick="notify.query();">查询</button>
							<input type="button" id="newadd" class="btn btn-primary btn-sm newadd" onclick="notify.readAll();" value="全部标记已读" />
                            <input type="button" id="del" class="btn btn-primary btn-sm delBtn" onclick="notify.del();" value="删除" />
						</span>
					</div>
				</div>
				<div class="example">
					<table id="table"></table>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	var notify = {
		init:function(){
		    let height = jQuery(window).height()-180;
			$('#table').bootstrapTable({
			     url:"${ctx}/notify/getList",//请求数据url
			     queryParams: function (params) {
			    	 let keyword = $.trim($("#keyword").val());
			         return {
			        	 pageNumber: (params.offset / params.limit),  //页码
			        	 pageSize: params.limit,  //页面大小
			        	 keyword:keyword
			         };
			     },
			     // striped: true,                      //是否显示行间隔色
			     showHeader : true,
			     height:height,
			     pagination: true,                   //是否显示分页（*）
			     sidePagination : 'server',//服务器端分页
			     strictSearch: true,
			     pageNumber : 1,
			     resizable:true,
			     //showColumns:true,
			     pageSize: 20,                       //每页的记录行数（*）
			     pageList: [20,100],//分页步进值
			     //表格的列
			     columns: [
			    	 { 
			             field:'checked', 
			             checkbox : true
			         },
			         {
			             title: '序号',//标题
			             width:'50px',
			             formatter: function (value, row, index) {
 							return index+1;
 						 }
			         },
			         {field: 'isRead',title: '状态',formatter:function (value, row, index) {
		                    if(value=='1'){
		                        return '<span class="color:green;">已读</span>';
		                    }else{
		                        return '<span class="color:red;">未读</span>';
		                    }
		                }},
			         {field: 'title',title: '主题'},
			         {field: 'createTime',title: '日期',formatter:function (value, row, index) {
		                    if(value){
		                        var date = new Date(value);
		                        return formatDate(date, 'yyyy-MM-dd hh:mm:ss');
		                    }else{
		                        return '-';
		                    }
		                }}
			     ],
			     onLoadSuccess: function () {
			    	 setFixedTableBorder($('#table'),$("div.fixed-table-border"));
			     }
			 });
		},
		query: function () {
			$("#table").bootstrapTable('refresh',{
				 pageNumber : 1
			 });
		},
		del:function(){
			let arr = $('#table').bootstrapTable('getAllSelections');
			if(arr.length<=0){
				toastr.warning("请选择要删除的信息");
				return false;
			}
            var d = top.dialog({
                title: '提示',
                width : 250,
                height : 50,
                padding:50,
                content: '<div class="jyTit" style="margin-left: 65px;">您确定要删除么？</div>',
                okValue: '确 定',
                ok: function () {
                    let ids = arr.map(item=>{
                        return item.id;
                    }).join(",");
                    $.ajax({
                        url:"${ctx}/notify/delete",
                        type:"post",
                        dataType:"json",
                        async:false,
                        data:{
                            ids:ids
                        },
                        success:function({result,data}){
                            if(result=="success"){
                                toastr.success("操作成功!");
                                notify.query();
                            }else{
                                toastr.error("操作失败！");
                            }
                            d.close()
                        }
                    });
                    return false;
                },
                cancelValue: '取消',
                cancel: function () {
                }
            });
            d.showModal();
		},
		readAll:function(){
			$(".loadingMask").show();
            $.ajax({
                url:"${ctx}/notify/readAll",
                type:"post",
                dataType:"json",
                async:false,
                data:{
                },
                success:function({result,data}){
        			$(".loadingMask").hide();
                    if(result=="success"){
                        toastr.success("操作成功!");
                        notify.query();
                    }else{
                        toastr.error("操作失败！");
                    }
                    d.close()
                },
                error:function(){
        			$(".loadingMask").hide();
                }
            });
            return false;
		}
	}
</script>
</body>
</html>